body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

html, body{    
    background: #e7e8e8;
    height: 100%;
    margin 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
}
.logo img{
    margin: 30px;
    width: auto;
    height: auto;
    padding: 15px;
}

.separator{
    display: flex;
    max-width: 950px;
    background: #cdcdcd;
    margin: 0 auto;   
    height: 2px;
}
.nav{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    padding: 0px 40px;
}

.nav li:hover{
    color:#F1D210;
}

.background{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 10px;
    background:white;
    max-width: 1000px;
    border-radius: 6px;
}

.banner{  
    background-image: url(../img/banner.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
    max-width: 960px;    
    width: 100%;
    padding: 130px;
    text-align: center;
    border-radius: 6px;

}

.banner h1{
    color: orange;
    margin: 10px;
    word-spacing: 0.9px;
    font-size: 3em;
}

.banner button{
    padding: 15px 20px;
    border-radius: 6px;
    background: #A05A08;
    color: white;
    width: 100%;
    border-style: none;
    margin: 10px;
    font-weight: 700;
}

.banner button:hover{
    background: #ECA653;
}


.about{
    display: flex;
    flex-wrap: wrap;    
    margin: 0 auto;
    justify-content: space-around;
    padding: 40px 20px;
}

.about p{
    margin-left: 20px;
    max-width: 500px;
    word-spacing: 0.6em;
    font-weight: 300;
    text-align: center;
}

.about h2{
    text-align: center;
}

.title{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    
}

.line_title{
    width: 30%;
    background: #cdcdcd;   
    height: 2px;
}

.adote{
    margin: 0 auto;
}

.animals{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width:940px;    
    justify-content: space-around;
    align-items: center;
   
}

.img-animals{
    margin: 5px;
    flex: 1 1 300px;
}


.footer{
    display: flex;
    height: 80px;
    width: 100%;
    background: #F1D210;
    justify-content: center;
    align-items: center;    
    color:white;
    font-weight: 400;
    font-size: 0.8em;
}


